* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background\ image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 35vw;
}

.register_head {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

/* Label Style */
.labels {
    display: inline-block;
    font-weight: bold;
    color: black;
    margin-right: 7vw;
}

#password {
    margin-right: 5vw;
}

#confirm_password{
    margin-right: 0.5vw;
}
.inputs {
    display: inline-block;
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 8px;
}

.submit:hover {
    background-color: gray;
}