*{
    margin: 0;
    padding: 0;
    color: white;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
    background-image: url('../images/background\ image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color:lightcyan; */
    background-image: url('../images/quiz\ background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 255, 255, 0.8); */
    height: 35vh;
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px;
}

.welcome_head {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
    position: relative;
    bottom: 20px;
    color: white;
    text-shadow: 
        -1px -1px 0 red,  
         1px -1px 0 red,
        -1px  1px 0 red,
         1px  1px 0 red; 
    /* background-color: black; */
    
}

.start, .scores {
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-bottom: 20px;
    background-color: black;
    width: 20vw;
    padding: 5px 5px;
    border-radius: 20px;
}

.start:hover, .scores:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}